body {
  padding-top: 70px;
}

input[type=date] {
line-height: 28px;
max-width: 200px;
}

td{
	cursor: pointer;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
background-color: #E7E7E7;
}