body {
  padding-top: 70px;
}

input[type=date] {
max-width: 160px;
}

td{
	cursor: pointer;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
background-color: #E7E7E7;
}

.loading {
	background: white url('/media/logsqlite/img/load.gif') 99% center no-repeat;
}

.ng_input {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  background: transparent;
}
.ng_input.ng-invalid {
  background: #FFE9F2;
}