<!DOCTYPE html>
<html ng-app="Index" ng-controller="MainController">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Log_SQLiteReader</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
		<!--link rel="stylesheet" href="/media/common/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/media/common/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script type="text/javascript" src="/media/common/js/angular-1.3.0-beta.16.min.js"></script-->
		<link rel="stylesheet" href="/media/logsqlite/css/index.css">
		<script type="text/javascript" src="/media/logsqlite/js/index.js"></script>
	</head>
	<body resizable>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Home</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="logreader" class="active"><a href="#">Log_SQLiteReader</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<noscript><p class = "alert alert-warning">To use this page you must enable JavaScript</p></noscript>
					<form name="search" class="form-horizontal" role="form" ng-submit="fetch()">
						<div class="form-group">
							<label class="col-md-1 control-label">Search text</label>
							<div class="col-md-6">
								<input autofocus type="text" class="form-control" ng-model="search_text" name="search_text"
									   placeholder="{{logs.length && 'Now available Local Search by all fields'
												   || 'Enter plain text for search in the field \'body\' (you can use the % wildcard for SQL query)'}}">
							</div>
							<div class="col-md-2">
								<div class="submit">
									<button id="btn-search" type="submit" class="btn btn-default">Pull logs</button>
								</div>
							</div>
							<div class="col-md-3"></div>
						</div>
						<div class="form-group">
								<label class="col-md-1 control-label">Date from</label>
								<div class="col-md-2 {{search.date_fr.$error.date && 'has-error' || ''}}">
									<input type="date" name="date_fr" ng-model="date_fr" placeholder="yyyy-MM-dd" class="form-control" required />
								</div>
								<label class="col-md-1 control-label">Date to</label>
								<div class="col-md-2 {{search.date_to.$error.date && 'has-error' || ''}}">
									<input type="date" name="date_to" ng-model="date_to" placeholder="yyyy-MM-dd" class="form-control" required />
								</div>
							<div class="col-md-6"></div>
						</div>
						<div class="form-group">
							<label class="col-md-1 control-label">Levels</label>
							<div ng-repeat="col in cols" class="col-md-2">
								<div ng-repeat="row in col" class="checkbox">
									<label>
										<input ng-change="conv_lvls_to_arr()" type="checkbox" ng-model="row.selected">{{row.level}}
										<span class="badge" title="total">{{stat_lvls[row.level]}}</span>
									</label>
								</div>
							</div>
							<div class="col-md-5"></div>
						</div>
					</form>
				</div>
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p ng-if="logs.length">Total {{logs.length}} rows</p>
					<p ng-if="logs.length">After applying local filters found {{(logs | filter:search_text | filter:f_date | filter:f_levels).length}} rows</p>
					<table class="table table-striped table-bordered table-hover">
						<tr>
							<th style="width:140px !important">Datetime</th>
							<th style="width:80px !important">Level</th>
							<th>Message</th>
						</tr>
						<tr ng-repeat="tr in logs | filter:search_text | filter:f_levels | filter:f_date" ng-click="tr.showDetails = ! tr.showDetails">
							<td style="font-size: 12px;">{{tr.time}}</td>
							<td style="font-size: 11px;"><span class="label label-{{tr.level | badge_level}}">{{tr.level}}</span></td>
							<td ng-show="!tr.showDetails">{{tr.body | limitTo:limit_to}}</td>
							<td ng-show="tr.showDetails" style="white-space: pre-line;">{{tr.body}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div><!-- /.container -->
	</body>
</html>
